body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.food-img{
    width: 150px;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.login{
    margin: 20px;
}
.btn{
    text-decoration: none;
    color: aquamarine;
}
button {
    background: #ff6600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}