body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.food-img{
    width: 150px;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.login{
    margin: 20px;
}
.btn{
    text-decoration: none;
    color: aquamarine;
}
button {
    background: #ff6600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.card{
    background-color: #ff6600;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px;
}
.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card span {
    font-size: 18px;
    color: #d35400;
    font-weight: bold;
}

.card button {
    background: #d35400;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}